{% extends 'base/../static/base.html' %}
{% block title %}
  注册
{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

<!-- container start -->
{% block article %}
  <article>
    <div id="blogsbox">
      <div id="container">
        <div class="login-contain">
          <div class="top-contain">
            <a href="{% url 'users:login' %}" class="please-login">用户名登录</a>/
            <a href="{% url 'users:codelogin' %}" class="please-login">手机号登录</a>
            {#      <a href="javascript:void(0);" class="register">立即注册 &gt;</a>#}
            <a href="{% url 'users:register' %}" class="register">立即注册 &gt;</a>
          </div>
          <form action="{% url 'users:login' %}" method="post" class="form-contain">
            {% csrf_token %}
            <div class="form-item">
              <p style="color: red">{{ errors }}</p>
              <input type="text" placeholder="请输入用户名或手机号" name="username" class="form-control" autocomplete="off">
            </div>
            <div class="form-item">
              <input type="password" placeholder="请输入密码" name="password" class="form-control">
            </div>
            <div class="form-item clearfix">
              <label>
                <input type="checkbox" name="remember">
                <span>记住我</span>
              </label>
              <a href="javascript:void(0);" class="forget-password">忘记密码?</a>
            </div>
            <div class="form-login">
              <input type="submit" value="登录" class="login-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
<!-- container end -->
{% block top %}
{% endblock %}
{% block script %}
  {#  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>#}
  {#  <script src="{% static 'js/base/common.js' %}"></script>#}
  {#  <script src="{% static 'js/base/message.js' %}"></script>#}
  {#  <script src="{% static 'js/users/auth.js' %}"></script>#}
{% endblock %}